.sidebar-parent {
  width: 10%;
}
.logo-text {
  font-weight: 600;
  font-size: 18px;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
}
.sidebar-item {
  cursor: pointer;
  padding: 0.8rem 2rem;
  font-size: 12px;
  font-weight: 500;
}
.sidebar-active-item {
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
}
