.dashboard-container {
  height: inherit;
  padding: 1rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.font-weight-bold{
    font-weight: 600 !important;
}
.new-sales-btn{
    color: #ffffff;
    background-color: #47B747;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}
.chart-section{
    background-color: var(--white-color);
    /* border: 1px solid; */
    /* padding: 2rem; */
    width: 48%;
}
.chart-header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}