.wrapper {
  display: flex;
  height: 100vh;
  /* width: 100vw; */
  border: 1px solid red;
}

.inner-wrapper{
    /* height: 100vh; */
  /* width: 100vw; */
  width: 100%;
  border: 1px solid green;
}